* {
    padding: 0;
    margin: 0;      
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.container {
    max-width: 1700px;
    margin: 0 auto;
    padding-inline: 32px;
    
}

html {
    scroll-behavior: smooth;
}